[submodule "plugins/tidme/fsrs4tw"]
	path = plugins/tidme/fsrs4tw
	url = https://github.com/open-spaced-repetition/fsrs4tw.git
[submodule "plugins/tidme/stats"]
	path = plugins/tidme/stats
	url = https://github.com/oflg/Tidme-stats.git
[submodule "plugins/tidme/zh-Hans"]
	path = plugins/tidme/zh-Hans
	url = https://github.com/oflg/Tidme-zh-Hans.git
