[submodule "src/fsrs4tw"]
	path = src/fsrs4tw
	url = https://github.com/open-spaced-repetition/fsrs4tw.git
[submodule "src/stats"]
	path = src/stats
	url = https://github.com/oflg/Tidme-stats.git
[submodule "src/zh-Hans"]
	path = src/zh-Hans
	url = https://github.com/oflg/Tidme-zh-Hans.git
